
.App {
  text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.banner{
  position: relative;
  background-image: 100%;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  background-repeat: no-repeat;
  background-size: cover;
}
.error{
  color: red;
}
@keyframes move {
  0% {background-image: url(https://static.cdnno.com/storage/topbox/f32aeebc55f3cff0e095634cdefa9d64.jpg);}
  25% {background-image: url(https://static.cdnno.com/storage/topbox/53696630fb0c72563da79720b565b08b.jpg);}
  50% {background-image: url(https://static.cdnno.com/storage/topbox/8da8e131fca14cbd9b65154d8d2e20d0.jpg);}
  75% {background-image: url(https://static.cdnno.com/storage/topbox/1eac5b7c63016539d4fb719f19447acd.jpg);}
  100% {background-image: url(https://static.cdnno.com/storage/topbox/e4044257ff635dfc21e71a8ccf3dbad6.jpg);}


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}